<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shorcut icon" th:href="@{/img/favicon.ico}" />
</head>
<body>

<div class="container-fluid">
    <div class="text-center"><h2>Registrera</h2></div>

    <form th:action="@{/accounts/register}" method="post" th:object="${accounts}"  style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row pb-3">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row pb-3">
                <label class="col-sm-4 col-form-label">Lösenord:</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row pb-3 ">
                <label class="col-sm-4 col-form-label">Förnamn:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row pb-3">
                <label class="col-sm-4 col-form-label">Efternamn:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row pb-3">
                <label class="col-sm-4 col-form-label">Adress:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{address}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row pb-3">
                <label class="col-sm-4 col-form-label">Telefon:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{telephoneNr}" class="form-control"/>
                </div>
            </div>

<!--            <input type="hidden" th:field="*{role}" >-->

            <div class="form-group row ">


                <label  class="col-sm-3 col-form-label" >Privatkund</label>
                <div class="col-sm-3 mt-2">
                    <input type="checkbox" th:field="*{privateCustomer}" >
                </div>


                <label  class="col-sm-3 col-form-label" >Företagskund</label>
                <div class="col-sm-3 mt-2">
                    <input type="checkbox" th:field="*{companyCustomer}" >
                </div>

            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Registrera</button>
        </div>
    </form>
    <div>

    </div>

</div>
</body>
</html>